In [72]:
print("Hello World!!")
print("Olá Mundo!!")

Hello World!!
Olá Mundo!!

In [73]:
pip install pandas

Requirement already satisfied: pandas in c:\users\47341687843\appdata\local\programs\python\python312\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\47341687843\appdata\local\programs\python\python312\lib\site-packages (from pandas) (1.26.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\47341687843\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\47341687843\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\47341687843\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\47341687843\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [74]:
import pandas as pd

In [75]:
# Criando um dicionário
Dict = {
    "A":[1,2,3,4],
    "B":[5,6,7,8],
    "C":[9,10,11,12]
}

Labels = ["1° Linha", "2° Linha","3° Linha","4° Linha"]

In [76]:
dados = pd.DataFrame(Dict, index=Labels)

In [77]:
dados.head(2) # Mostrar uma quantidade de linhas, sendo 2 no .

          A  B   C
1° Linha  1  5   9
2° Linha  2  6  10

In [78]:
dados.tail() # Mostrar uma quantidade das ultimas linhas do DataFrame, sendo 3 no exemplo.

          A  B   C
1° Linha  1  5   9
2° Linha  2  6  10
3° Linha  3  7  11
4° Linha  4  8  12

In [79]:
dados.describe() # Descreve as estatísticas

              A         B          C
count  4.000000  4.000000   4.000000
mean   2.500000  6.500000  10.500000
std    1.290994  1.290994   1.290994
min    1.000000  5.000000   9.000000
25%    1.750000  5.750000   9.750000
50%    2.500000  6.500000  10.500000
75%    3.250000  7.250000  11.250000
max    4.000000  8.000000  12.000000

In [80]:
dados["D"] = dados["A"] * dados["B"] * dados["C"] # Adiciona uma nova coluna e dados
dados

          A  B   C    D
1° Linha  1  5   9   45
2° Linha  2  6  10  120
3° Linha  3  7  11  231
4° Linha  4  8  12  384

In [81]:
dados.drop("B",  axis=1) # Exlui a coluna B, e não altera a base de dados original.

dados.drop("B",  axis=1, inplace=True) # Exlui a coluna B, e altera a base de dados original.

dados

          A   C    D
1° Linha  1   9   45
2° Linha  2  10  120
3° Linha  3  11  231
4° Linha  4  12  384

In [82]:
dados.loc['3° Linha'] # Localizar uma linha especifica.

A      3
C     11
D    231
Name: 3° Linha, dtype: int64

In [83]:
dados.iloc[0:2] # Localizar uma quantidade de linhas.

          A   C    D
1° Linha  1   9   45
2° Linha  2  10  120

In [84]:
dados["A"] > 0 # Filtrando os dados

1° Linha    True
2° Linha    True
3° Linha    True
4° Linha    True
Name: A, dtype: bool

In [85]:
Filtro = dados["C"] > 0

In [86]:
if Filtro["1° Linha"]:
    print("Resultado: True")
else:
    print("Resultado: False")

Resultado: True

In [87]:
dados.reset_index() # Comando para resetar index do dataframe inteiro.
# dados.reset_index('C') # Especificando uma coluna para resetar o index.

KeyError: 'Requested level (C) does not match index name (None)'

In [88]:
Dict1 = {
    'A':[10,20,30,40],
    'B': [50,60,70,80],
    'C':[90,100,110,120],
    'Chaves':["AA","BB","CC","DD"]
}
Dict2 = {
    'A':[155,255,355,455],
    'B': [5555,655,755,855],
    'C':[955,15555,1155,1255],
    'Chaves':["AA","BB","CC","DD"]
}
Dict3 = {
    'A':[1034,2034,3034,4034],
    'B': [5034,6034,7034,8034],
    'C':[9034,1034034,11034,12034],
    'Chaves':["AA","BB","CC","DD"]
}
labels_1=['1° Linha','2° Linha','3° Linha', '4° Linha']
labels_2=['5° Linha','6° Linha','7° Linha','8° Linha']
labels_3=['9° Linha','10° Linha','11° Linha', '12° Linha']

In [89]:
df1 = pd.DataFrame(Dict1, index=labels_1)
df2 = pd.DataFrame(Dict2, index=labels_2)
df3 = pd.DataFrame(Dict3, index=labels_3)

In [99]:
dados_concat = pd.concat([df1,df2,df3]) # Junta todos os dataframes

In [100]:
dados_concat.head(10)

              A     B        C Chaves
1° Linha     10    50       90     AA
2° Linha     20    60      100     BB
3° Linha     30    70      110     CC
4° Linha     40    80      120     DD
5° Linha    155  5555      955     AA
6° Linha    255   655    15555     BB
7° Linha    355   755     1155     CC
8° Linha    455   855     1255     DD
9° Linha   1034  5034     9034     AA
10° Linha  2034  6034  1034034     BB

In [90]:
df_n = pd.merge(df1,df2, how='inner', on='Chaves') # Une o dataframe partir da semelhança das chaves nas colunas.

In [91]:
df_n.head()

   A_x  B_x  C_x Chaves  A_y   B_y    C_y
0   10   50   90     AA  155  5555    955
1   20   60  100     BB  255   655  15555
2   30   70  110     CC  355   755   1155
3   40   80  120     DD  455   855   1255

In [93]:
df_1 = pd.merge(df1,df2, how='left',on='Chaves') # Une o dataframe a partir da semelhança das chaves nas colunas.

In [102]:
Dict1 = {
    'A':[10,20,30,40],
    'B': [50,60,70,80],
    'C':[90,100,110,120],
    
}
Dict2 = {
    'A':[155,255,355,455],
    'B': [5555,655,755,855],
    'C':[955,15555,1155,1255],
    
}
Dict3 = {
    'A':[1034,2034,3034,4034],
    'B': [5034,6034,7034,8034],
    'C':[9034,1034034,11034,12034],
    
}
labels_1=['1° Linha','2° Linha','3° Linha', '4° Linha']
labels_2=['5° Linha','6° Linha','7° Linha','8° Linha']
labels_3=['9° Linha','10° Linha','11° Linha', '12° Linha']

In [104]:
dataframe1 = pd.DataFrame(Dict1, index=labels_1)
dataframe3 = pd.DataFrame(Dict3, index=labels_1)
df13 = df_1.join(dataframe3)
df13.head()

   A_x  B_x  C_x Chaves  A_y   B_y    C_y   A   B   C
0   10   50   90     AA  155  5555    955 NaN NaN NaN
1   20   60  100     BB  255   655  15555 NaN NaN NaN
2   30   70  110     CC  355   755   1155 NaN NaN NaN
3   40   80  120     DD  455   855   1255 NaN NaN NaN